.code_mirror {
    padding: 2px;
    border-color: #d4d4d4;
    border-style: solid;
}

.code_mirror > .actions{
    position: sticky;
    z-index: 1;
    top: 30px;
    background-color: #d4d4d499;
}

.code_mirror > .actions > .suggestions{
    padding: 2px;
}